body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}
#card {
    margin-top: 20px;
    padding: 20px;
    width: 320px;
    background: white;
    border-radius: 12px;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
}
#card img {
    width: 150px;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
thead {
    background: #e0e0e0;
}