body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    text-align: center;
    padding: 20px;
}

#pokemon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px auto;
}

.card {
    width: 180px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

.card img {
    width: 120px;
}

h3 {
    margin-top: 10px;
    font-size: 18px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}