body {
  font-family: Arial;
  background: #f0f0f0;
  padding: 20px;
  text-align: center;
}
#contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 20px;
}
.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.card img {
  width: 120px;
}