body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
    text-align: center;
}
#card {
    margin-top: 20px;
    padding: 20px;
    width: 320px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: none;
}
#card img {
    width: 150px;
    margin-bottom: 10px;
}
#pokeStats p {
    text-align: left;
    margin-left: 20px;
}